.main-container {
    margin-top: 80px;
}

.form-home {
    margin-top: 22px;
}

.main-container a {
    color: #000;
    font-weight: 600;
}

.form-map {
    margin-bottom: 30px;
}

.form-group-custom {
    padding: 0 20px 0 0;
}

.faq-section {
    padding-top: 60px;
}