{% extends "base.html" %}

{% block content %}
<div class="container main-container">
    <div class="row form-map">
        <div class="col-xs-12 col-md-12">
            <form class="form-inline form-home" method="POST" action="/findmap">
                <div class="form-group">
                    <label for="level">Level</label>
                    <select name="level" id="level" class="form-control">
                        {% for x in range(10, 99) %}
                            {% if x == base_level %}
                            <option value="{{x}}" selected>{{x}}</option>
                            {% else %}
                            <option value="{{x}}">{{x}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="experience">Target % Base EXP/Monster</label>
                    <select name="experience" id="experience" class="form-control">
                        <option value="1" {% if experience == '1' %}selected{% endif %}>4%-6%</option>
                        <option value="2" {% if experience == '2' %}selected{% endif %}>2%-4%</option>
                        <option value="3" {% if experience == '3' %}selected{% endif %}>1%-2%</option>
                        <option value="6" {% if experience == '6' %}selected{% endif %}>0.5%-1%</option>
                        <option value="4" {% if experience == '4' %}selected{% endif %}>0.1%-0.5%</option>
                        <option value="5" {% if experience == '5' %}selected{% endif %}>0.001%-0.1%</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="jobclass">Job Class</label>
                    <select name="jobclass" id="jobclass" class="form-control">
                        <option value="1" {% if jobclass == '1' %}selected{% endif %}>Job class 1</option>
                        <option value="2" {% if jobclass == '2' %}selected{% endif %}>Job class 2</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="joblevel">Job Level</label>
                    <select name="joblevel" id="joblevel" class="form-control">
                        {% for x in range(1, 51) %}
                            {% if x == job_level %}
                            <option value="{{x}}" selected>{{x}}</option>
                            {% else %}
                            <option value="{{x}}">{{x}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-default">Cari Peta</button>
            </form>
        </div>
    </div>
    {% if map_data %}
    {% for map in map_data %}
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h2><a href="{{ map.map_url }}" target="_blank">{{ map.map_title }}</a></h2>
            <p><a href="{{ map.map_url }}" target="_blank">{{ map.map_name }}</a></p>
            <img src="{{ map.map_image_url }}" class="img-responsive" alt="{{ map.map_title }}">
        </div>
        <div class="col-xs-12 col-md-9">
            <h2>Monster di peta ini:</h2>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nama</th>
                            <th>Level</th>
                            <th>HP</th>
                            <th>EXP</th>
                            <th>Job EXP</th>
                            <th>Jumlah</th>
                            <th>Respawn</th>
                            <th>95% Flee</th>
                            <th>100% Hit</th>
                            <th>DEF</th>
                            <th>MDEF</th>
                            <th>Ukuran</th>
                            <th>Race</th>
                            <th>Elemen</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for monster in map.map_monsters %}
                        <tr>
                            <td><a href="{{monster.url}}">{{monster.name}}</a></td>
                            <td>{{monster.level}}</td>
                            <td>{{monster.hp}}</td>
                            <td>{{monster.exp}} <b>({{'{0:0.4f}'.format(monster.exp/next_exp*100)}}%)</b></td>
                            <td>{{monster.jexp}} <b>({{'{0:0.4f}'.format(monster.jexp/next_job_exp*100)}}%)</b></td>
                            <td>{{monster.jumlah}}</td>
                            <td>{{monster.respawn}}</td>
                            <td>{{monster["95_flee"]}}</td>
                            <td>{{monster["100_hit"]}}</td>
                            <td>{{monster.def}}</td>
                            <td>{{monster.mdef}}</td>
                            <td>{{monster.ukuran}}</td>
                            <td>{{monster.race}}</td>
                            <td>{{monster.elemen}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <p>Tidak ada monster yang sesuai kriteriamu untuk solo hunt. Coba ganti target EXP-mu.</p>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}